{% extends 'base_Interna/base.html'%}


{%block content%}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
           <h3 class="box-title">Categorias Registradas</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="products" class="row list-group">
            {%for objeto in lista.items%}
            <div class="item  col-xs-4 col-lg-4 grid-group-item">
              <div class="thumbnail">
                <img class="group list-group-image" src="{{url_for('static',filename='borrar/imgs/productos/Banana_icon.png')}}" alt="" />
                <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                    Product:{{objeto.Nombre}}</h4>
                  <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat.
                  </p>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <p class="lead">
                        $ 55 </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>

          <ul class="pagination pagination-lg">
            <li><a href="{{ url_for('Productos.listaPr', page=page_num) }}">&laquo;</a></li>
            {% for page_num in lista.iter_pages() %}
            {% if page_num %}
            {% if lista.page == page_num %}
            <li><a href="{{ url_for('Productos.listaPr', page=page_num) }}">{{ page_num }}</a></li>
            {% else %}
            <li><a class="page-item" href="{{ url_for('Productos.listaPr', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <li><a href="{{ url_for('Productos.listaPr', page=page_num) }}">&raquo;</a></li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
{%endblock%}
