{% extends 'base_Interna/base.html'%}
{% from '_macro.html' import render_field %}


{%block contentheader%}

  {% with messages = get_flashed_messages() %}
  {%if messages %}
  {%for message in messages%}
  {%if "Error" not in message[ :5]:%}
  <div class=" alert alert-info">
    <li>{{message}}</li>
  </div>
  {%endif%}

  {%if "Error" in message[:5]:%}
  <div class=" alert alert-warning">
    <li>{{message}}</li>
  </div>
  {%endif%}

  {%endfor%}
  {%endif%}
  {%endwith%}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cliete
      <small>Panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
    {%endblock%}

    {%block content%}
    <section class="content">
      <!-- espacio del dasboard-->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> Registro de Personal </h3>
        </div>
        <!-- /.box-header -->

        <!-- form start -->
        <form id="cliente-form" role="form" method="POST" autocomplete="off">
          <div class="box-body">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    
            <div class="form-group">
              {{ render_field(frm.id,class= 'form-control col-md-2',placeholder='Cedula de Identidad') }}
            </div>

            <div class="form-group">
              {{ render_field(frm.Nombre,class= 'form-control col-md-2',placeholder='Nombre') }}
            </div>

            <div class="form-group">
              {{ render_field(frm.Apellido,class= 'form-control col-md-2',placeholder='Apellido') }}
            </div>

            <div class="form-group">
              {{ render_field(frm.FechaNacimiento,class= 'form-control col-md-2') }}
            </div>

            <div class="form-group">
              {{ render_field(frm.Estado) }}
            </div>

            <div class="box-footer">
              <button id="btn" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <!-- /.box-body -->
          </div>
        </form>
      </div>
    </section>
    {%endblock%}