{% extends 'base_Interna/base.html'%}
{%block header%}
  <!-- DataTables -->
  <link rel="stylesheet" href=" {{ url_for ( 'static', filename='bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{%endblock%}
{%block content%}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tabla de Datos
        <small>Proveédores</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

     <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Proveédores</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>categoria</th>
                  <th>precio</th>
                  <th>stock</th>
                </tr>
                </thead>

                <tbody>
                {%for objeto in listas%}
                <tr>
                  <td>{{objeto.Codigo}}</td>
                  <td>{{objeto.nombre}}</td>
                  <td>{{objeto.Categoria}}</td>
                  <td> {{objeto.Precio}}</td>
                  <td>{{objeto.stock}}</td>
                </tr>
              </tbody>
              {%endfor%}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
       </div>
     </div>
 </section>
 {%endblock%}

 {%block scripts%}
 <!-- DataTables -->
 <script src="{{ url_for ( 'static' ,filename='bower_components/datatables.net/js/datatables.min.js') }}"></script>
 <script src="{{ url_for ( 'static' ,filename='bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
 <!-- page script -->
 <script>
   $(document).ready(function() {
     $('#example2').DataTable({
       'paging'      : true,
       'lengthChange': false,
       'searching'   : true,
       'ordering'    : true,
       'info'        : true,
       'autoWidth'   : false
     })
   })
 </script>
 {%endblock%}
 
 
