{% extends 'base_Interna/base.html'%}
<!-- Lista proveedores-->
{%block header%}
  <!-- DataTables -->
  <link rel="stylesheet" href=" {{ url_for ( 'static', filename='bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
  <script href="{{ url_for ( 'static', filename='js/js.js') }}"></script>
{%endblock%}
{%block content%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <section class="content-header">
      <h1>
        Tabla de Datos
        <small>Proveédores</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
      <br>
    <section>
      <button type="button" class="btn btn-info" >Modificar</button>
    </section>
    </section>

     <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Proveédores</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>CI</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>FechaNacimiento</th>
                  <th>Sexo</th>
                </tr>
                </thead>

                <tbody>
                {%for objeto in listas%}
                <tr>
                  <td>{{objeto.CI}}</td>
                  <td>{{objeto.Nombre}}</td>
                  <td>{{objeto.Apellido}}</td>
                  <td> {{objeto.FechaNacimiento}}</td>
                  <td>{{objeto.Sexo}}</td>
                </tr>
              </tbody>
              {%endfor%}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
       </div>
     </div>
 </section>
{%endblock%}

{%block scripts%}
<!-- DataTables -->
<script src="{{ url_for ( 'static' ,filename='bower_components/datatables.net/js/datatables.min.js') }}"></script>
<script src="{{ url_for ( 'static' ,filename='bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<!-- page script -->
<script>
  $(document).ready(function() {
    $('#example2').DataTable({
      'lengthChange': false,
      'searching'   : true,
      ajax({
            url: '/listarp',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
  })
</script>
{%endblock%}

