<!DOCTYPE html>
<html>
<head>
	<title>{{titulo}}</title>
</head>
<body>
    <table >
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        {% for objeto in objetos%}
        <tr>
          <td>{{objeto.id}}</td>
          <td>{{objeto.usuario}}</td>
          <td>{{objeto.contrasena}}</td>
          <td>{{objeto.cargo}}</td>
        </tr>
        {% endfor %}

      </table> 
</body>
</html>

conn = pymysql.connect(host='127.0.0.1', user='root', passwd=Rous, db='mns')
cur = conn.cursor()
cur.execute("SELECT * FROM user")
for r in cur:
    print(r)
cur.close()
conn.close()