{%extends 'bootstrap/base.html'%}

<!DOCTYPE html>
<html>
<head>
	<title>{{titulo}}</title>
</head>
{% block content %}
  <div class ="container">
    <table class="table table-sm">
        <thead class= "thead-dark">
        <tr>
          <th scope="col" >Nombre</th>
          <th scope="col" >Apellido</th>
          <th scope="col" >Edad</th>
        </tr>
        </thead>

        <tbody>
        {% for objeto in listas%}
        <tr>
          <td>{{objeto.usuario}}</td>
          <td>{{objeto.contrasena}}</td>
          <td>{{objeto.EMAIL}}</td>
          <td> </td>
        </tr>
       </tbody>
        {% endfor %}
      </table> 
    </div>
{%endblock%}
</html>